<div>
  Input your Twitter handle
  <%= form_for :search, url: search_path, remote: true do |f| %>
    <%= f.text_field :handle, placeholder: '@hunnafresh', autofocus: true %>
    <%= f.submit 'Submit' %>
  <% end %>
</div>
<br>
<div class='results'>
</div>

